.park-container {
    background-image: url("/assets/park-bg.jpg");
    background-position: center;
}

.park-menu-screen {
    background-image: linear-gradient(rgba(156, 147, 124, 0.67), rgba(156, 147, 124, 0.67)), url('/assets/park-bg.jpg');
    background-position: center;
}

.park-menu,
.park-play-button,
.park-pause-button {
    background-color: #9C937C;
    font-family: 'Cormorant Garamond', serif;
    color: #21212B;
    letter-spacing: 1.25px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 10px;
}

.park-menu:hover,
.park-play-button:hover,
.park-pause-button:hover {
    background-color: #B5A687;
}

/* Individual sound container styles */
.park-sound {
    font-family: 'Cormorant Garamond', serif;
    background-color: #767A3A;
    font-weight: 600;
}

/* Heading styles */
.park-h1 {
    font-family: 'Cormorant Garamond', serif;
    color: #091102;
    letter-spacing: 1.25px;
}

/* Custom styling for range input slider */
.park-input[type="range"] {
    background-color: #B5A687;
}

/* Set the thumb appearance for WebKit-based browsers */
.park-input[type="range"]::-webkit-slider-thumb {
    background: #605E2B;
}

/* Set the thumb appearance for Mozilla Firefox */
.park-input[type="range"]::-moz-range-thumb {
    background: #605E2B;
}
